#portfolio {
  background-color: #f0f0f6;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
#portifolioIntro {
  width: 90%;
  font-size: 0.7rem;
  color: #767676;
  text-align: center;
}

.potifoliocards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  width: 100%;
}

.portfolio1 {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.Projectinfo {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.portfolio1:hover .image {
  opacity: 0.3;
}

.portfolio1:hover .Projectinfo {
  opacity: 1;
}

.text {
  background-color: #ffb400;
  color: white;
  font-size: 16px;
  padding: 16px 20px;
}
@media (max-width: 800px) {
  #portifolioIntro {
    text-align: start;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #portifolioIntro {
    font-size: 1.5rem;
    text-align: start;
  }
}
