body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.landing-container {
  width: 100%;
  display: flex;
  gap: 2%;
  background-color: #e4e6eb;
}

.skills-summary,
.main-content,
.navigation-container {
  /* border: 2px solid blueviolet; */
  background-color: white;
  height: fit-content;
}

.skills-summary {
  width: 20%;
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.me {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#title {
  font-size: 0.7rem;
  color: #767676;
}
.social-medias {
  display: flex;
  gap: 1rem;
}
.facebook {
  border-radius: 100%;
  background-color: #ffb400;
  padding: 0.3rem;
}

.mydesc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
}
#desc {
  font-size: 0.7rem;
  background-color: #ffb400;
  padding: 0 0.2rem;
}
#desc1 {
  font-size: 0.7rem;
  text-align: right;
  padding: 0 0.2rem;
}

.languages {
  text-align: left;
  justify-content: start;
  width: 60%;
}

label {
  color: #767676;
}

label {
  color: #767676;
}

.progress-container {
  margin-top: 10px;
}

.progress-wrapper {
  position: relative;
}

progress {
  width: 100%;
  height: 10px;
  border-radius: 1rem;
  appearance: none;
}

progress::-webkit-progress-bar {
  border-radius: 1rem;
  padding: 0.2rem;
  background-color: #e4e6eb;
  border: 1px solid #ffb400;
}

progress::-webkit-progress-value {
  background-color: #ffb400 !important;
  border-radius: 1rem;
}

progress::-moz-progress-bar {
  background-color: #ffb400;
  border-radius: 1rem;
}

.percentage {
  position: absolute;
  top: -1.2em;
  right: 5px;
  font-size: 0.8em;
  color: #767676;
}

.skills-measure {
  width: 60%;
  border-radius: 1rem;
  appearance: none;
}

#img-icon {
  margin-top: 0.2rem;
}
.subskill1 {
  color: #767676;
  font-size: 0.8rem;
  display: flex;
  gap: 1rem;
}

#cvBtn {
  background: #ffb400;
  padding: 0.7rem 3rem;
  margin-top: 2rem;
  border: none !important;
  border-radius: 0.1rem !important;
}

.main-content {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.homeCont {
  display: flex;
  height: 100vh;
}

.homeDesc {
  margin: auto;
  align-items: left;
  justify-content: left;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 0.8rem;
  color: #767676;
  width: 60%;
}
.homeImg {
  width: 40%;
}
#hmimg {
  width: 100%;
  height: 80%;
}

#welcome {
  text-align: left;
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
}

#hireme {
  background-color: #ffb400;
  padding: 1.2rem 0;
  margin-top: 2rem;
  border: none;
  border-radius: 0.3rem;
  width: 35%;
}

.navigation-container {
  width: 5%;
  min-height: 100vh;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 95%;
}

#firstTitle {
  font-size: 2rem;
}
#menu {
  display: none;
}
.skills-summary.show-skills-summary {
  display: flex;
}
#navlink {
  color: black;
}
#menu {
  color: black;
}

/* responsiveness */

@media (max-width: 800px) {
  .skills-summary {
    display: none;
  }

  .skills-summary.show-skills-summary {
    display: flex;
    flex-direction: column;
    width: 80%;
    position: absolute;
  }
  .main-content {
    width: 85%;
  }
  #hireme {
    padding: 1rem 0;
    width: 100%;
  }
  .homeCont {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
  }
  .homeDesc {
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.8rem;
    color: #767676;
    width: 90%;
  }
  .homeImg {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  #firstTitle {
    font-size: 1.5rem;
  }
  #menu {
    display: flex;
  }
  .navigation-container {
    width: 15%;
    margin-left: 85%;
  }
  #navlink {
    font-size: 1.5rem;
  }
  #menu {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #welcome {
    font-size: 1.4rem;
  }
  #firstTitle {
    font-size: 3rem;
  }
  #hireme {
    font-size: 1.5rem;
  }
  #sectiontitle {
    font-size: 3rem;
  }
  .sectiontitle {
    font-size: 3rem;
  }
  #navlink {
    font-size: 2rem;
  }
  #menu {
    font-size: 2rem;
  }
}
